:root {
  --primary: #b6895b;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #26221b;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(189, 173, 150, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-family: "Handle", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #26221b;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #26221b;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #26221b;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

#contact-details {
  margin-top: 2rem;
  padding: 1.4rem 7% 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin-top: 7rem;
  text-align: center;
  font-size: 4rem;
}

#contact-details .details {
  width: 40%;
}

#contact-details .h2 {
  font-size: 26px;
  line-height: 20px;
  padding: 20px 0;
}

#contact-details .h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form span {
  font-size: 12px;
}

#form-details form span h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#form-details form button {
  background-color: #b6895b;
  color: #26221b;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}

#form-details .team div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form-details .team div img {
  width: 75px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .team div p {
  margin: 0;
  font-size: 13px;
  font-weight: 25px;
}

#form-details .team div span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #26221b;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  #form-details {
    padding: 40px;
  }

  #form-details form {
    width: 50%;
  }
}

/* Tablet */
@media (max-width: 658px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(189, 173, 150, 0.8);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
  }

  #form-details {
    padding: 40px;
  }

  #form-details form {
    width: 50%;
  }
}

@media (max-width: 748px) {
  html {
    font-size: 55%;
  }

  #contact-details {
    flex-direction: column;
  }

  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }

  #contact-details .map {
    width: 100%;
  }

  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }

  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* Mobile Phone */
@media (max-width: 460px) {
  html {
    font-size: 55%;
  }

  #contact-details {
    flex-direction: column;
  }

  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }

  #contact-details .map {
    width: 100%;
  }

  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }

  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
}

footer {
  background-color: rgba(189, 173, 150, 0.8);
  padding: 1.4rem 7% 1.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .add {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .follow i:hover,
footer a:hover {
  color: #b6895b;
}
